body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fdf9ff;
}

header {
  background: #ffcdf1;
  padding: 20px;
  text-align: center;
  font-weight: bold;
}

.tabs {
  display: flex;
  background: #ffe6f7;
  border-bottom: 1px solid #ffd1eb;
}

.tabs button {
  flex: 1;
  padding: 12px;
  background: transparent;
  border: none;
  font-size: 1rem;
}

.tabs button:hover {
  background: #ffd8f2;
}

.tab {
  display: none;
  padding: 20px;
}

.tab.active {
  display: block;
}
